body {
    font-family: "Robato";
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/startrain.jpg");
    background-size: cover;
}

.main-content {
    text-align: center;
    box-shadow: 0 0 10px #000000;
}

.top-section {
    background-color: rgb(0, 255, 115);
    padding: 50px 0 50px 0;
    color: #ecf0f1;
}

.top-section img {
    width: 10%;
    border-radius: 10%;
}